<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw</title>
</head>
<body>
<canvas id="myCanvas" width="500" height="1000"
        style="border:1px solid #d3d3d3;">
    Your browser does not support the canvas element.
</canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Need change on local
        let ws = new WebSocket('ws://207.154.216.20:8007/');
        // let ws = new WebSocket('ws://127.0.0.1:8844/');
        let id = '{{ connection_id }}';
        //listen sockets and send message that we are a subscriber and id of subscriber chanel.
        ws.onopen = function incoming() {
            ws.send(JSON.stringify({type: 'subscribe', id: id - 1}));
        };

        ws.onmessage = function (event) {
            let canvas = document.getElementById("myCanvas");
            let ctx = canvas.getContext("2d");
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            let face = JSON.parse(event.data).face;
            console.log(face);
            if (face) {
                draw(ctx, face.contour, "blue");
                draw(ctx, face.left_eyebrow, "green");
                draw(ctx, face.right_eyebrow, "red");
                draw(ctx, face.nose, "black");
                draw(ctx, face.lips, "orange");
                draw(ctx, face.left_eye, "gray");
                draw(ctx, face.right_eye, "red");
            }
        };

        function draw(ctx, points, color) {
            ctx.beginPath();
            ctx.moveTo(points[0]._x, points[0]._y);
            points.forEach(function (element, index) {
                ctx.arc(element._x, element._y, 2, 0, Math.PI * 2, true);
                if (index < points.length - 1) {
                    ctx.moveTo(points[index + 1]._x, points[index + 1]._y);
                }
            });
            ctx.fillStyle = color;
            ctx.fill();
            ctx.closePath();
        }
    });
</script>
</body>
</html>